<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0"
    />
  </head>
  <body class="container py-1 px-1">
      

      <div class="sm:px-20 px-5">
        <div
        class="flex flex-row flex-wrap content-end justify-end gap-4"
        style="color: #412a6e"
      >
        <span class="h-fit self-center text-xl border-b-2 border-black"
          >Username</span 
        >
        <span class="material-symbols-outlined text-4xl"> account_circle </span>
      </div>
        <div
          class="max-sm:hidden text-3xl font-bold mb-4"
          style="color: #412a6e"
        >
          RESULTS
        </div>
        <div class="mb-1 text-md font-bold" style="color: #412a6e">TITLE</div>
        <div
          class="py-3 px-6 text-md rounded-xl border border-black shadow-xl mb-4"
          style="color: #412a6e"
        >
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat,
          delectus quaerat.
        </div>
        <div class="mb-1 text-md font-bold" style="color: #412a6e">
          ABSTRACT
        </div>
        <div
          class="py-3 px-6 text-md rounded-xl border border-black shadow-xl mb-4"
          style="color: #412a6e"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque eveniet
          dignissimos, commodi debitis vero numquam iste aliquid dolorum non,
          suscipit totam magnam nobis rerum maiores inventore reiciendis veniam
          recusandae ipsa. Labore minus dignissimos odit voluptate dolor
          reiciendis praesentium voluptates! Tenetur, facilis! Laborum animi
          neque quae voluptates quisquam provident porro, eveniet mollitia ex
          laboriosam maiores voluptatibus optio totam nemo et non. Sequi, hic
          voluptatum voluptates autem vero, eligendi, possimus amet nesciunt
          fugit et totam non ea deserunt illo reprehenderit aspernatur optio
          sapiente. Eum iusto placeat dignissimos dicta. Possimus quidem autem
          numquam? Dignissimos corrupti deleniti quod totam modi nobis mollitia
          aspernatur sapiente, voluptas, impedit nihil ad, perspiciatis ullam
          perferendis voluptates voluptatem cum nisi. Sapiente repellendus
          repudiandae perspiciatis labore sint mollitia ea ut! Iste aperiam vero
          fuga ab aspernatur voluptatibus possimus itaque eligendi iusto fugiat
          sequi facilis facere saepe, explicabo illum unde? Sint quo ea mollitia
          sit dolor et maiores in ducimus excepturi!
        </div>
      </div>
      <div
        class="flex sm:px-20 px-5 sm:flex-row flex-col flex-wrap justify-between content-center gap-5"
      >
        <div
          class="sm:hidden text-3xl font-bold text-center"
          style="color: #412a6e"
        >
          RESULTS
        </div>
        <div class="flex flex-col sm:w-5/12 w-10/12">
          <div
            class="flex flex-row bg-emerald-300 rounded-full shadow-xl justify-between"
          >
            <div
              id="novelty-grade-description"
              class="text-sm w-9/12 flex flex-col justify-center content-center py-3 ps-10 pe-2 text-center"
              style="color: #412a6e"
            >
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non
              tempore soluta.
            </div>
            <div
              id="novelty-grade-score"
              class="cursor-pointer rounded-full w-24 h-24 flex sm:flex-row flex-col-reverse flex-wrap justify-center content-center relative self-center shadow-xl select-none"
              style="background-color: #dbdff1"
            >
              <span class="text-5xl font-bold" style="color: #412a6e"> 3 </span>
            </div>
          </div>
          <div
            class="text-sm mt-1 font-bold sm:text-end text-center"
            style="color: #412a6e"
          >
            NOVELTY GRADE
          </div>
        </div>
        <div class="flex flex-col justify-between content-center">
          <div
            class="flex flex-col flex-wrap rounded-full w-24 h-24 border-8 border-emerald-400 justify-center content-center self-center shadow-xl gap-1"
            style="color: #412a6e"
          >
            <div class="text-xl">100%</div>
          </div>
          <div
            class="text-sm text-center mt-1 font-bold"
            style="color: #412a6e"
          >
            SIMILARITY
          </div>
        </div>
        <div
          class="sm:w-52 w-10/12 flex flex-col flex-wrap justify-center gap-3 content-center"
        >
          <a
            class="py-2 px-2 shadow-xl bg-gray-100 font-semibold flex flex-row flex-wrap content-center justify-center gap-2 rounded-xl"
            style="color: #412a6e"
            href=""
          >
            <span> Create a new search </span>
            <span class="material-symbols-outlined"> search </span>
          </a>
          <a
            class="py-2 shadow-xl text-gray-200 font-semibold text-center rounded-xl"
            style="background-color: #412a6e"
            href="{% url 'searchResult' %}"
          >
            <span> List Recommendation </span>
          </a>
        </div>
      </div>
  </body>
</html>
