{% extends "base.html" %} {% block title %}Search Report{% endblock %}
<!-- Block Liner -->
{% load static %} {%block content %}
<!-- Ngodingnya disini -->
<style>
  .ungu-bro-bg {
    background-color: #422b73 !important;
  }
  .ungu-bro-color {
    color: #422b73 !important;
  }
  .ungu-bro-border {
    border-color: #422b73 !important;
  }
  .with-shadow {
    border: 1px solid #ced4da;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan */
  }
  .chart-heading {
    font-family: "Poppins", sans-serif;
    color: #1e1e1e;
    text-transform: uppercase;
    font-size: 20px;
  }

  .chart-container {
    width: 200px;
  }

  .report-stats {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
  }

  .report-stats .details ul {
    list-style: none;
    padding: 0;
  }

  .report-stats .details ul li {
    font-size: 16px;
    margin: 12px 0;
    text-transform: uppercase;
  }

  .report-stats .details .percentage {
    font-weight: 700;
    color: brown;
  }
</style>

<div>
  <div class="my-4 d-flex flex-row justify-content-end align-items-center">
    <span class="h-fit self-center text-xl border-b-2 border-black"
      >{{ user }}</span
    >

    <a href=""
      ><span
        style="font-size: 50px"
        class="material-symbols-outlined ungu-bro-color"
      >
        account_circle
      </span></a
    >
  </div>
  <h3 style="color: #071c4d"><strong>RESULTS</strong></h3>
  <div class="py-3">
    <h4 style="color: #071c4d">TITLE</h4>
    <div class="form-floating mb-3 col-sm-12 offset-sm-0">
      <div
        id="Input"
        class="form-control with-shadow"
        style="
          border: 1px solid #ced4da;
          padding: 10px;
          max-height: 200px;
          overflow-y: auto;
        "
      >
        {{ query }}
      </div>
    </div>

    <h4 style="color: #071c4d">ABSTRAK</h4>
    <div class="form-floating mb-3 col-sm-12 offset-sm-0">
      <div
        id="Input"
        class="form-control with-shadow"
        style="
          border: 1px solid #ced4da;
          padding: 10px;
          max-height: 200px;
          overflow-y: auto;
          height: 300px;
        "
      >
        {{user_abstract}}
      </div>
    </div>

    <div class="d-flex flex-row">
      <div class="keterangan-novelty" style="width: 50%">
        <div
          class="reason-box d-flex flex-row"
          style="width: 100%; position: relative; justify-content: right"
        >
          <div
            class="green-box mt-3"
            style="background-color: #2ee8b6; border-radius: 90px; height: 25vh"
          >
            <p
              class="ms-5 me-5 pt-4 pc-4"
              style="text-align: justify; padding-right: 21vh"
            >
            {{ scopus_message }}
            </p>
          </div>
          <div
            class="circle-number-box mt-3"
            style="
              background-color: #dbdff1;
              position: absolute;
              height: 25vh;
              width: 25vh;
              border-radius: 90px;
              text-align: center;
            "
          >
            <h1
              class="fw-4"
              style="margin-bottom: auto; margin-top: 6vh; font-size: 10vh"
            >
              {{ novelty_grade }}
            </h1>
          </div>
        </div>
        <div class="text mt-4 d-flex" style="justify-content: right">
          <h2 style="font-size: 20px; text-transform: uppercase">
            NOVELTY GRADE
          </h2>
        </div>
      </div>

      <div
        class="report-stats d-flex flex-column justify-content-center"
        style="
          position: relative;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        "
      >
        <div class="chart-container" style="position: relative">
          <canvas
            class="my-chart mt-0"
            style="width: 300px; height: 300px; justify-self: center"
          ></canvas>
          <h4
            style="
              position: absolute;
              top: 40%;
              left: 50%;
              transform: translate(-50%, -50%);
              margin-top: 10px;
            "
          >
          {{ highest_similarity }} %
          </h4>
          <div class="details" style="margin-top: 10px">
            <ul></ul>
          </div>
          <h2 class="chart-heading" style="text-align: center">Similarity</h2>
        </div>
      </div>

      <div class="d-flex flex-column justify-content-center">
        <form action="{% url 'feedback' %}">
          {% csrf_token %}
          <div style="display: none">
            <input value="{{ feedback_manuscript }}" name="feedback_manuscript" />
          </div>
          <button
          style="
            width: 195px;
            height: 40px;
            background-color: #f8f6fb;
            color: #412a6e;
          "
          class="btn btn-primary border-0 d-flex text-decoration-none align-self-end"
          id="new_search_button"
          
        >
          <span class="me-2 text-decoration-none align-self-center">Crate New Search</span>
          <span class="material-symbols-outlined me-1 text-decoration-none"
            >search</span
          >
        </button>
        </form>
        
        <form action="{% url 'list' %}" method="POST">
          {% csrf_token %}
          <div style="display: none">
            <input value="{{ scopus_id }}" name="scopus_id" />
            <input value="{{ scopus_title }}" name="scopus_title" />
            <input value="{{ scopus_abstract }}" name="scopus_abstract" />
            <input value="{{ scopus_num_found }}" name="scopus_num_found" />
            <input value="{{ scopus_similarities }}" name= "scopus_similarities" />
          </div>
          <button
            style="width: 195px; height: 40px"
            class="btn btn-primary ungu-bro-bg border-0 d-flex text-decoration-none align-self-end mt-2"
            id="list_button"
          >
            <span class="me-2 text-decoration-none align-self-center">List Recommendation </span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const generateChartData = (passedPercentage, failedPercentage) => {
    const total = passedPercentage + failedPercentage;

    return {
      // labels: ["Passed", "Failed"],
      data: [passedPercentage, failedPercentage],
      colors: ["#071c4d", "#787878"],
      total: total,
    };
  };

  const myData = {
    a: "{{ highest_similarity }}",
  };

  myData.b = 100 - myData.a;

  const chartData = generateChartData(myData.a, myData.b);

  const myChart = document.querySelector(".my-chart");
  const ul = document.querySelector(".report-stats .details ul");

  new Chart(myChart, {
    type: "doughnut",
    data: {
      labels: chartData.labels,
      datasets: [
        {
          label: "Report Value",
          data: chartData.data,
          backgroundColor: chartData.colors,
        },
      ],
    },
    options: {
      borderWidth: 5,
      borderRadius: 2,
      hoverBorderWidth: 0,
      plugins: {
        legend: {
          display: true,
        },
      },
    },
  });

  const populateUl = () => {
    chartData.labels.forEach((l, i) => {
      let li = document.createElement("li");
      li.innerHTML = `${l}:<span class='percentage'>${(
        (chartData.data[i] / chartData.total) *
        100
      ).toFixed(2)}%</span>`;
      ul.appendChild(li);
    });
  };

  populateUl();
</script>

<!-- Batas bawah ngoding -->
{% endblock %}