{% extends "base.html" %} {% block title %}Search List{% endblock %}
<!-- Block Liner -->
{% load static %} {%block content %}
<!-- Ngodingnya disini -->

<div class="d-flex justify-content-end mt-3 align-items-center"></div>
<div class="d-flex justify-content-end mt-3 align-items-center"></div>
<h1 class="py-2 px-1" style="color: rgb(33, 0, 99); text-decoration: none">
  List Recommendation
</h1>

<h6 class="py-2 px-1" style="color: rgb(33, 0, 99); text-decoration: none">
  {{ scopus_num_found }} Result
</h6>
{% for scopus in scopus_all %}
<div style="margin-top: 10px">
    <div class="row align-items-center">
      <div class="col-11">
        <!-- Add the "Lorem500" content here -->
        <p class="form-control" id="name">{{scopus.scopus_title}}</p>
      </div>
      <div
        class="col-2 d-flex justify-content-center align-items-center"
        style="
          width: 55px;
          height: 55px;
          background-color: #dbdff1;
          border-radius: 50%;
          padding: 0;
        "
      >
        <p
          class="m-0"
          style="color: rgb(33, 0, 99); font-size: 14px; text-align: center"
        >
          {{scopus.scopus_similarities}} %
        </p>
      </div>
    </div>
  </div>
{% endfor %}

<!-- Batas bawah ngoding -->
{% endblock %}